@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Monterrat", sans-serif;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
body,
p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.56);
  overflow-y: scroll;
}

.hidden {
  display: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Стили компонента App
 */
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
